.submit {
  background-image:url(../images/icons/accept.png)!important;background-repeat:no-repeat;
}
.reset {
  background-image:url(../images/icons/arrow_refresh.png)!important;background-repeat:no-repeat;
}
.gm_logo {
  background-image:url(../images/icons/gm_logo.png)!important;background-repeat:no-repeat;
}